* {
  margin: 0;
  padding: 0;
  border: 0;
}
.PageOne__imgGlobal {
  position: fixed;
  top: 26px;
  left: 70px;
}
.PageOne__backgroundImg {
  background: url("../../../assets/1_box/bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.PageOne__blockText {
  position: absolute;
  top: 167px;
  left: 70px;
  right: 45px;
  z-index: 2;
}
.PageOne__text1 {
  margin-bottom: 40px;
}
.PageOne__title {
}

.PageOne__button {
  position: absolute;
  top: 470px;
  right: 105px;
}
.PageOne__imgLayer4copy2 {
  position: absolute;
  top: 26px;
  right: 45px;
}
.PageOne__imgLayer7 {
  margin-top: 72px;
  height: 116px;
}
.PageOne__imgLayer5 {
  position: absolute;
  top: 60px;
  right: 220px;
  -webkit-animation: moveLayer5 15s infinite;
  animation: moveLayer5 15s infinite;
}
.PageOne__imgLayer8 {
  position: absolute;
  top: 200px;
  right: 45px;
  z-index: 4;
  -webkit-animation: moveLayer8 30s linear infinite;
  animation: moveLayer8 30s linear infinite;
}
.PageOne__imgBakti1 {
  position: absolute;
  top: 500px;
  left: 25px;
  z-index: 0;
  -webkit-animation: moveBakti1 15s linear infinite;
  animation: moveBakti1 15s linear infinite;
}
.PageOne__imgPinkSperm1 {
  position: absolute;
  top: 160px;
  left: 435px;
  z-index: 3;
}
.PageOne__imgPinkSperm {
  position: absolute;
  top: 590px;
  left: 0px;
}
.PageOne__imgLayer4copy {
  position: absolute;
  top: 610px;
  left: 360px;
}
.PageOne__imgLayer4 {
  position: absolute;
  bottom: -20px;
  right: 220px;
  -webkit-animation: moveLayer4 7s infinite;
  animation: moveLayer4 7s infinite;
}
.PageOne__imgShape1 {
  position: fixed;
  left: 70px;
  bottom: 15px;
}

@-webkit-keyframes moveBakti1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
  }
  66% {
    -webkit-transform: translate(50px, 70px);
    transform: translate(50px, 70px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes moveBakti1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
  }
  66% {
    -webkit-transform: translate(50px, 70px);
    transform: translate(50px, 70px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes moveLayer4 {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
  50% {
    -webkit-transform: translate(-30px, -20px) scale(1.1);
    transform: translate(-30px, -20px) scale(1.1);
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
}

@keyframes moveLayer4 {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
  50% {
    -webkit-transform: translate(-30px, -20px) scale(1.1);
    transform: translate(-30px, -20px) scale(1.1);
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes moveLayer5 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  33.33% {
    -webkit-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
  66.66% {
    -webkit-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes moveLayer5 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  33.33% {
    -webkit-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
  66.66% {
    -webkit-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes moveLayer8 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  15% {
    -webkit-transform: translate(-80px, -75px) rotate(0deg);
    transform: translate(-80px, -75px) rotate(0deg);
  }
  30% {
    -webkit-transform: translate(-80px, -120px) rotate(30deg);
    transform: translate(-80px, -120px) rotate(30deg);
  }
  45% {
    -webkit-transform: translate(-20px, -20px) rotate(50deg);
    transform: translate(-20px, -20px) rotate(50deg);
  }
  70% {
    -webkit-transform: translate(-150px, -20px) rotate(100deg);
    transform: translate(-150px, -20px) rotate(100deg);
  }
  85% {
    -webkit-transform: translate(-70px, 30px) rotate(150deg);
    transform: translate(-70px, 30px) rotate(150deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(100deg);
    transform: translate(0, 0) rotate(100deg);
  }
}

@keyframes moveLayer8 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  15% {
    -webkit-transform: translate(-80px, -75px) rotate(0deg);
    transform: translate(-80px, -75px) rotate(0deg);
  }
  30% {
    -webkit-transform: translate(-80px, -120px) rotate(30deg);
    transform: translate(-80px, -120px) rotate(30deg);
  }
  45% {
    -webkit-transform: translate(-20px, -20px) rotate(50deg);
    transform: translate(-20px, -20px) rotate(50deg);
  }
  70% {
    -webkit-transform: translate(-150px, -20px) rotate(100deg);
    transform: translate(-150px, -20px) rotate(100deg);
  }
  85% {
    -webkit-transform: translate(-70px, 30px) rotate(150deg);
    transform: translate(-70px, 30px) rotate(150deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(100deg);
    transform: translate(0, 0) rotate(100deg);
  }
}
