* {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  overflow-y: hidden;
  height: 100%;
}

.Global__imgGlobal {
  position: fixed;
  top: 26px;
  left: 70px;
  z-index: 100;
}
.Global__imgShape1 {
  position: fixed;
  left: 70px;
  top: 740px;
  z-index: 100;
}
